---
/*
  Base layout that injects global CSS and font link.
  All pages should be wrapped by <Base> to ensure consistent <head>.
*/
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>UbiquityML -- Better, Together</title>
    <meta name="description" content="Replica of the Idol landing demo using Astro + Tailwind" />
    <!-- Link to our global stylesheet (processed by Tailwind / PostCSS) -->
    <link rel="stylesheet" href="/src/styles/global.css" />

    <!-- Favicon (put your png at public/siteicon.png) -->
    <link rel="icon" type="image/png" href="/siteicon.png" />

     <!-- Font Awesome CDN (latest version) -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-u4WekXv0aI3y8zF1mULM8X5fJ3xklxxXc5OkJKoXssHaLrjYTx9ZmzCMcE7V8NqjJm9k5pFtKeAZdAnjZf5Q=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
